*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* --------------------HEADER CONTENT------------------- */

header{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

nav{
    background-color: #FDC632;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.menu{
    display: flex;
    list-style: none;
    position: relative;
    right: 10vw;
}

.logo{
    margin-left: 30px;
    font-size: 30px;
    cursor: pointer;
}

.logo>img{
    position: relative;
    top: 10px;
}

.menu>li{
    margin: 0px 10px;
    font-size: 17px;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    transition: all 0.4s;
}
.menu>li:hover{
    color: #FDC632;
    background-color: black;
}
.main-img{
    width: 100%;
    height: 100%;
    background: url('https://images.unsplash.com/photo-1620200423727-8127f75d7f53?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#sub-head{
    font-size: 22px;
    font-weight: 500;
}
#head{
    font-size: 55px;
    font-weight: 700;
}

#start{
    width: 180px;
    height: 55px;
    background-color: #FDC632;
    color: #002347;
    font-size: 25px;
    margin-top: 25px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid #FDC632;
    transition: all 0.4s;
}
#start:hover{
    background: none;
    border: 1.5px solid #002347;
}


/* ------------------MAIN CONTENT-------------------- */

main{
    width: 100vw;
}
h1.sec1-h2{
    color: #002347;
}
span.sec1-span{
    color: #D0D0CE;
    font-style: italic;
}

.intro{
    margin: 75px;
}
.section1{
    margin-top: 50px;
    width: 100vw;
    text-align: center;
}

.sec1-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec1-box{
    background-color: #F9F9FF;
    margin: 50px;
    padding: 20px;
    border-radius: 12px;
    transition: all 0.4s;
    cursor: pointer;
}
.sec1-box:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
    transform: scale(1.02);
}

.sec1-h2-heading{
    color: #002347;
    font-size: 22px;
    font-weight: 600;
}
.sec1-para{
    color: #999997;
}

.sec1-containers{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.sec1-container{
    margin: 50px;
    transition: all 0.4s;
}

.sec1-container:hover{
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    transform: scale(1.04);
}

div.img-div{
    width: 400px;
    height: 330px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.first{
    background: url("https://images.unsplash.com/photo-1492496913980-501348b61469?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YWdyaWN1bHR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}

.second{
    background: url("https://images.unsplash.com/photo-1557234195-bd9f290f0e4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGFncmljdWx0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
.third{
    background: url("https://images.unsplash.com/photo-1515150144380-bca9f1650ed9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGFncmljdWx0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
}
div.img-div>img{
    width: 100%;
    background-position: center;
}

.para-grey{
color: #999997;
cursor: default;
}
h2{
    cursor: pointer;
}
div.info{
    text-align: left;
    width: 400px;
    color: #002347;
    padding: 20px;
    background-color: #F9F9FF;
    transition: all 0.4s;
}
div.info:hover{
    color: #FDC632;
}

footer{
    width: 100vw;
    height: 50vh;
    background-color: #002347;
}

p.foot{
    color: white;
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
}

.owner{
    width: 100vw;
    background-color: #002347;
    margin: 30px 0px;
    display: flex;
}

div.owner-img{
    height: 315px;
    width: 315px;
    background: url("src/img/omkar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.owner-bio{
    height: 315px;
    width: 315px;
    margin: 20px;
    background-color: #F9F9FF;
    border-radius: 8px;
}

@media only screen and (max-width: 790px) {
    nav, .sec1-boxes, .sec1-containers, .owner{
      flex-direction: column;
    }
    .menu{
        margin-left: 30px;
    }
    #sub-head{
        font-size: 15px;
        font-weight: 400;
        margin: 20px;
    }
    #head{
        font-size: 35px;
    }

    .sec1-container{
        margin: 10px;
    }

    div.info{
        width: 275px;
        padding: 20px;
    }
    div.img-div{
        width: 275px;
        height: 170px;
    }
  }